body {
    font-family: 'Anek Malayalam', sans-serif;
    /* background: linear-gradient(90.04deg, #a9d374 0.03%, #eba8b3 99.96%); */
    background: linear-gradient(90.04deg, white 0%, #AF9CF3 100%);
    color: #11052c;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 30px;
  }
  
  .quiz_container {
    max-width: 500px;
    min-width: 250px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 100px;
    padding: 30px 60px;
    border-radius: 20px;
  }
  
  .quiz_container .active_question_no {
    font-size: 32px;
    font-weight: 500;
    color: #800080;
  }
  
  .quiz_container .total_question {
    font-size: 16px;
    font-weight: 500;
    color: #e0dee3;
  }
  
  .quiz_container h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
  }
  
  .quiz_container ul {
    margin-top: 20px;
    margin-left: -40px;
  }
  
  .quiz_container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .quiz_container ul .selected_answer {
    background: #f7daf7;
    border: 1px solid #800080;
  }
  .selected_answer {
    background: #ffd6ff;
    border: 1px solid #800080;
  }
  .quiz_container ul .correct{
    background: #56ce68;
    border: 1px solid #800080;
  }
  .quiz_container ul .wrong{
    background: #dd3c3c;
    border: 1px solid #800080;
  }
  
  .quiz_container button {
    /* background: linear-gradient(90.04deg, #800080 0.03%, #ffc0cb 99.96%); */
    background: red;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 42px;
    outline: none;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 15px;
    width: 250px;
    height:45px;
    
  }
  
  .quiz_container button:disabled {
    background: #e7e8e9;
    color: #9fa3a9;
    cursor: not-allowed;
  }
  
  .flex_right {
    /* display: flex; */
    justify-content: center;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
  }

  .result{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .result span{
    margin-bottom: 10px;
  }

.selected_answer{
    padding: 10px 20px;
    border: 1px solid #800080;
    border-radius: 10px;
}
.wrong_answer{
    padding: 10px 20px;
    border: 1px solid #800080;
    border-radius: 10px;
    background: #f19092;
}
.correct_answer{
    padding: 10px 20px;
    background: #8af3bc;
    border: 1px solid #800080;
    border-radius: 10px;
}
.buttons{
    display: flex;
    flex-direction: column;
}

.timer {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: #333; /* Text color */
    display: flex;
    align-items: center;
  }
  
.timer_icon {
font-size: 24px;
margin-right: 5px;
}

.timer p {
margin: 0;
}
.progress{
  background: white;
  border-top-left-radius: 122px;
  border-top-right-radius: 122px;
}

.semi_circle {
  width: 100px; /* Adjust the width and height as needed */
  height: 50px;
}

.semi_circle_bg {
  fill: none;
  stroke: #ccc; /* Background color */
  stroke-width: 10;
}

.semi_circle_progress {
  fill: none;
  stroke: #007bff; /* Progress color */
  stroke-width: 10;
  transition: stroke-dashoffset 0.3s ease;
}